/* Add a black background color to the top navigation */
.topnav[b-xgp8tzn7lq] {
    background-color: #102540;
    overflow: hidden;
}

    /* Style the links inside the navigation bar */
    .topnav a[b-xgp8tzn7lq] {
        float: right;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        /* Change the color of links on hover */
        .topnav a:hover[b-xgp8tzn7lq] {
            background-color: #A0C8D6;
            color: white;
        }

        /* Add a color to the active/current link */
        .topnav a.active[b-xgp8tzn7lq] {
            background-color: #A0C8D6;
            color: white;
        }
