
.h1[b-yyje806pt6] {
    font-size:29px;
    color: #FFFFFF;
    background-color: #102540;
    padding: 14px 16px;
    font-weight: bold;
    text-align: center;
}

.custom-image[b-yyje806pt6]{
    width: 50px;
    height:50px;
}

/* Add a black background color to the top navigation */
.topnav[b-yyje806pt6] {
    background-color: #102540;
    overflow: hidden;
}

    /* Style the links inside the navigation bar */
    .topnav a[b-yyje806pt6] {
        float: left;
        color: #FFFFFF;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        /* Change the color of links on hover */
        .topnav a:hover[b-yyje806pt6] {
            background-color: #A0C8D6;
            color: #FFFFFF;
        }

        /* Add a color to the active/current link */
        .topnav a.active[b-yyje806pt6] {
            background-color: #A0C8D6;
            color: #FFFFFF;
        }

/* Add a black background color to the top navigation */
.topnav-right[b-yyje806pt6] {
    background-color: #102540;
    overflow: hidden;
}

    /* Style the links inside the navigation bar */
    .topnav-right a[b-yyje806pt6] {
        float: right;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        /* Change the color of links on hover */
        .topnav-right a:hover[b-yyje806pt6] {
            background-color: #67AAC3;
            color: #A0C8D6;
        }

        /* Add a color to the active/current link */
        .topnav-right a.active[b-yyje806pt6] {
            background-color: #67AAC3;
            color: #A0C8D6;
        }
