@using BlazorApp.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blazor App</title>

    <!-- CSS goes here -->
    <style>
        .bg-blue {
            background-color: #102540;
            padding: 10px;
        }

        .text-white {
            color: white;
        }

        .nav-link {
            padding: 10px;
            display: inline-block;
        }

        .nav-item {
            list-style: none;
            display: inline;
        }
    </style>
</head>
<body>
    <ul class="navbar-nav bg-blue">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/" method="post">
                    <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>
</body>
</html>
