@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<style>
    body {
        background: linear-gradient(to right, #248ec2, #a0cf3c);
    }

</style>