@page "/take-a-look"

<PageTitle>Index</PageTitle>

<div class="container">
    <h2>Take a Look!</h2>
    <p>To learn more about how STAR Reader works, watch our demo video below.</p>
    <div class="video-demo">
        <!-- Update the path to the video file -->
        <video controls>
            <source src="Videos/demo2.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>