<footer>
    <div class="container">
        <p>&copy;2024 by STAR Reader. All rights reserved.</p>
        <p>Enterprise Solutions 365 | University of Cape Town</p>
        <!-- Adjust the path to the logos -->
        <img src="images/es365-logo.png" alt="Enterprise Solutions 365 Logo">
        <img src="images/UCT Logo.png" alt="UCT Logo">
    </div>
</footer>

@code {

}
