body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
    background-color: #102540;
    margin: 0;
}

.header {
    background: linear-gradient(to right, #248EC2, #A0CF3C);
    color: white;
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin : 0;
    display: flex;
    justify-content: space-around;
}

nav ul li{
    display: inline;
}

nav ul li a:hover{
    color : #A0C8D6;
}

nav ul li:active{
    color: f0f0f0;
}
 
li{
    float:left;
}
a {
    display: block;
    padding: 8px;
    
}