@inherits LayoutComponentBase

<PageTitle>STAR Reader</PageTitle>

<div class="page">
    <AuthorizeView>
        <Authorized>

        </Authorized>
        <NotAuthorized>
            
        </NotAuthorized>
    </AuthorizeView>

    <main>
        <!-- Header -->
        <div class="top-row px-4 ">
            <AuthorizeView>
                <Authorized>
                    <LoginDisplay />
                </Authorized>
                <NotAuthorized>
                    <LoginDisplay />
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <div class="bottom-row px-4">
            <AuthorizeView>
                <Authorized>
                   
                </Authorized>
                <NotAuthorized>
                 <FooterMenu/>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </main>
</div>
