
<header>
    <div class="container">
        <div class="logo">
            <!-- Update the path to the logo image -->
            <img src="../Images/STAR Logo.png" alt="STAR Reader Logo">
            <h1>STAR Reader</h1>
        </div>
           <span>
        <span><a href="/">Home Page</a></span>
        <span><a href="about">About STAR Reader</a></span>
        <span><a href="know-us">Get To Know Us</a></span>
        <span><a href="take-a-look">Take A Look</a></span>
    </span>
    </div>
    </header>

@code {

}
