


<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/Logout">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <img src="../Images/STAR Logo.png" alt="STAR Reader Logo" class="custom-image">
            <h1 class="h1">STAR Reader</h1>

        <div class="topnav">
            <a href="/">Home Page</a>
            <a href="about">About STAR Reader</a>
            <a href="know-us">Get To Know Us</a>
            <a href="take-a-look">Take A Look</a>
        </div>
        <div class="topnav-right">
            <a href="Identity/Account/Register">Register</a>
            <a href="Identity/Account/Login">Log in</a>
        </div>

    </NotAuthorized>
</AuthorizeView>




@code {

}

