
@* <header>
    <div class="logo">
        <!-- Update the path to the logo image -->
        <img src="../Images/STAR Logo.png" alt="STAR Reader Logo">
        <h1>STAR Reader</h1>
    </div>
    <li><a href="/">Home Page</a></li>
    <li><a href="about">About STAR Reader</a></li>
    <li><a href="know-us">Get To Know Us</a></li>
    <li><a href="take-a-look">Take A Look</a></li>
    </header> *@

<div class="topnav">
    <a href="/">Home Page</a>
    <a href="about">About STAR Reader</a>
    <a href="know-us">Get To Know Us</a>
    <a href="take-a-look">Take A Look</a>
</div>

@code {

}
