
<PageTitle>Index</PageTitle>
<section class="hero">
    <!-- Adjust the path to the video file -->
    <video autoplay muted loop id="bg-video">
        <source src="Videos/WhatsApp Video 2024-08-25 at 18.59.33_5f6632d5.mp4" type="video/mp4">
    </video>
    <div class="hero-content">
        <h2>Empower Visually Impaired Learners with STAR Reader</h2>
        <p>Access educational tools for visually impaired students</p>
        <a href="about" class="btn">Learn More</a>
    </div>
</section>

@code {

}
