
<div class="header">

    <div class="title">&nbsp &nbsp  StarReader  &nbsp &nbsp</div>
    <div class="controls">

        <DocumentReader SelectedText="@SelectedText" />

        <div class="speed-control">
            <label for="speed">&nbsp &nbsp Speed:</label>
            <input type="range" id="speed" name="speed" min="0.5" max="2.0" value="1" step="0.1" oninput="adjustSpeed(this.value)">
            <span id="speed-value">1.0x</span>
        </div>
    </div>

    <div class="timer" id="timer">
    </div>

</div>

<DocumentDisplay @bind-SelectedText="@SelectedText" />

@code {
    string? SelectedText;
}


<script>
    function updateClock() {
        const now = new Date();
        const timeString = now.toLocaleTimeString();
        document.getElementById('timer').innerText = timeString;
    }

    function startExamination() {
        alert("Start Examination Functionality");
    }

    function playAudio() {
        alert("Play Audio Functionality");
    }

    function pauseAudio() {
        alert("Pause Audio Functionality");
    }

    function rewindAudio() {
        alert("Rewind Audio Functionality");
    }

    setInterval(updateClock, 1000);
</script>


