<div class="header">
    <div class="title">&nbsp &nbsp  StarReader</div>

    <DocumentReader/>

    @* <button class="exam-button" onclick="startExamination()">Upload Document </button>&nbsp &nbsp &nbsp &nbsp *@
    <DocumentUploader/>
    <form method="post" action="Identity/Account/Logout">
        <button type="submit" class="nav-link btn btn-link">Log out</button>
    </form>

</div>

<div class="main-content">
    <div class="exam" id="exam-content">
        <p>Exam 2024</p>
    </div>
</div>

@code {

}
