
<div class="header">

    <div class="title">&nbsp &nbsp  StarReader  &nbsp &nbsp</div>
    <div class="controls">

        <DocumentReader SelectedText="@SelectedText" @bind-SpeedValue="speedValue" />

        <div class="speed-control">
            <label for="speedComboBox">&nbsp &nbsp Speed:</label>
            <select id="speedComboBox" @onchange="OnSpeedChange" name="speedComboBox">
                <option value="medium">Default</option>
                <option value="x-slow">x-slow</option>
                <option value="slow">slow</option>
                <option value="fast">fast</option>
                <option value="x-fast">x-fast</option>
            </select>
        </div>
    </div>

    <div class="timer" id="timer">
    </div>

</div>

<DocumentDisplay @bind-SelectedText="@SelectedText" />

@code {
    string? SelectedText;
    private string speedValue = "medium";


    async Task OnSpeedChange(Microsoft.AspNetCore.Components.ChangeEventArgs e)
    {
       
        speedValue = e.Value.ToString(); // Get the selected value from the combo box
        StateHasChanged();
     
    }


}


<script>
    function updateClock() {
        const now = new Date();
        const timeString = now.toLocaleTimeString();
        document.getElementById('timer').innerText = timeString;
    }

    setInterval(updateClock, 1000);


</script>


