
<div class="header">

    <div class="title">&nbsp &nbsp  StarReader  &nbsp &nbsp</div>
    <div class="controls">

        <DocumentReader SelectedText="@SelectedText" @bind-SpeedValue="speedValue" />

        <div class="speed-control">
            <label for="speed">&nbsp &nbsp Speed:</label>
            <input type="range" id="speed" name="speed" min="0.5" max="2.0" value="1" step="0.1" @oninput="@OnSpeedChange">
            <span id="speed-value">@speedValue.ToString("0.0") x</span>
        </div>
    </div>

    <div class="timer" id="timer">
    </div>

</div>

<DocumentDisplay @bind-SelectedText="@SelectedText" />

@code {
    string? SelectedText;
    private double speedValue = 1;


    async Task OnSpeedChange(Microsoft.AspNetCore.Components.ChangeEventArgs e)
    {
        if (double.TryParse(e.Value.ToString(), out var speed))
        {
            speedValue = speed; // Update the speed value based on the slider input
            StateHasChanged();

        }
    }


}


<script>
    function updateClock() {
        const now = new Date();
        const timeString = now.toLocaleTimeString();
        document.getElementById('timer').innerText = timeString;
    }

    setInterval(updateClock, 1000);


</script>


